# Copyright 2016 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

resources:
- type: network.jinja
  name: spinnaker-network
  properties:
    region: {{ properties['region'] }}
    ipCidrRange: {{ properties['ipCidrRange'] }}
- name: spinnaker
  type: spinnaker.jinja
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    machineType: {{ properties['spinnakerMachineType'] }}
    spinnakerIP: {{ properties['spinnakerIP'] }}
    jenkinsPassword: {{ properties['jenkinsPassword'] }}
    jenkinsIP: {{ properties['jenkinsIP'] }}
    redisIP: {{ properties['redisIP'] }}
  metadata:
    dependsOn:
      - spinnaker-network
      - redis
      - jenkins
- name: redis
  type: redis.jinja
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    machineType: {{ properties['redisMachineType'] }}
    redisIP: {{ properties['redisIP'] }}
  metadata:
    dependsOn:
      - spinnaker-network
- name: jenkins
  type: jenkins.jinja
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    jenkinsMachineType: {{ properties['jenkinsMachineType'] }}
    jenkinsPassword: {{ properties['jenkinsPassword'] }}
    jenkinsIP: {{ properties['jenkinsIP'] }}
  metadata:
    dependsOn:
      - spinnaker-network
